In [38]:
# 泰坦尼克乘客数据查验

In [39]:
# 导入pandas用于数据分析

In [40]:
import pandas as pd

In [41]:
# 利用pandas的read——csv模块直接从互联网读取数据

In [42]:
# titanic = pd.read_csv('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DatsSets/titanic.txt');
titanic = pd.read_csv('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic.txt')

In [43]:
titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [44]:
# 使用pandas，数据都转入pandas独有的dataframe格式，（二维数据表格式）可以直接用info查看数据的统计特性

In [45]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 11 columns):
row.names    1313 non-null int64
pclass       1313 non-null object
survived     1313 non-null int64
name         1313 non-null object
age          633 non-null float64
embarked     821 non-null object
home.dest    754 non-null object
room         77 non-null object
ticket       69 non-null object
boat         347 non-null object
sex          1313 non-null object
dtypes: float64(1), int64(2), object(8)
memory usage: 112.9+ KB

In [46]:
# 机器学习特别重要的一环，特征的选择，这个需要一定的背景知识，

In [114]:
X = titanic[['pclass','age','sex']] 
print X['age']

0       29.0000
1        2.0000
2       30.0000
3       25.0000
4        0.9167
5       47.0000
6       63.0000
7       39.0000
8       58.0000
9       71.0000
10      47.0000
11      19.0000
12          NaN
13          NaN
14          NaN
15      50.0000
16      24.0000
17      36.0000
18      37.0000
19      47.0000
20      26.0000
21      25.0000
22      25.0000
23      19.0000
24      28.0000
25      45.0000
26      39.0000
27      30.0000
28      58.0000
29          NaN
         ...
1283        NaN
1284        NaN
1285        NaN
1286        NaN
1287        NaN
1288        NaN
1289        NaN
1290        NaN
1291        NaN
1292        NaN
1293        NaN
1294        NaN
1295        NaN
1296        NaN
1297        NaN
1298        NaN
1299        NaN
1300        NaN
1301        NaN
1302        NaN
1303        NaN
1304        NaN
1305        NaN
1306        NaN
1307        NaN
1308        NaN
1309        NaN
1310        NaN
1311        NaN
1312        NaN
Name: age, Length: 1313, dtype: float64

In [96]:
y = titanic['survived']
#print y

0       1
1       0
2       0
3       0
4       1
5       1
6       1
7       0
8       1
9       0
10      0
11      1
12      1
13      1
14      0
15      1
16      0
17      0
18      1
19      1
20      1
21      0
22      1
23      1
24      1
25      0
26      1
27      1
28      1
29      0
       ..
1283    0
1284    0
1285    0
1286    0
1287    0
1288    0
1289    1
1290    0
1291    0
1292    0
1293    1
1294    0
1295    0
1296    0
1297    0
1298    0
1299    0
1300    0
1301    0
1302    1
1303    0
1304    1
1305    0
1306    0
1307    0
1308    0
1309    0
1310    0
1311    0
1312    0
Name: survived, Length: 1313, dtype: int64

In [49]:
# 查看当前选择的特征

In [108]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 3 columns):
pclass    1313 non-null object
age       1313 non-null object
sex       1313 non-null object
dtypes: object(3)
memory usage: 30.8+ KB

In [109]:
X.head()

  pclass     age     sex
0    1st      29  female
1    1st       2  female
2    1st      30    male
3    1st      25  female
4    1st  0.9167    male

In [110]:
# 数据处理任务

In [111]:
# 1）age这个数据列，只有633个，需要补完整

In [112]:
# 2）pclass与sex两个数据列的值都是类别型的，需要转化为数值特性，使用0/1代替

In [113]:
# 首先我们补充age里面的数据，使用平均数或者中位数都是对模型偏离造成最小的策略

In [119]:
#print X['age']
X['age'].fillna(X['age'].mean(),inplace=True)

In [120]:
# 对补充的数据重新探查

In [121]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 3 columns):
pclass    1313 non-null object
age       1313 non-null float64
sex       1313 non-null object
dtypes: float64(1), object(2)
memory usage: 30.8+ KB

In [122]:
# 由此得知age数据得到了补充

In [123]:
# 将数据进行分割

In [124]:
from sklearn.cross_validation import train_test_split

In [125]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=33)
print X_train

     pclass        age     sex
1086    3rd  31.194181    male
12      1st  31.194181  female
1036    3rd  31.194181    male
833     3rd  32.000000    male
1108    3rd  31.194181    male
562     2nd  41.000000    male
437     2nd  48.000000  female
663     3rd  26.000000    male
669     3rd  19.000000    male
507     2nd  31.194181    male
1167    3rd  31.194181    male
821     3rd   9.000000    male
327     2nd  32.000000  female
715     3rd  21.000000    male
308     1st  31.194181  female
1274    3rd  31.194181    male
640     3rd  40.000000    male
72      1st  70.000000    male
1268    3rd  31.194181    male
1024    3rd  31.194181    male
1047    3rd  31.194181  female
940     3rd  31.194181    male
350     2nd  20.000000  female
892     3rd  31.194181    male
555     2nd  30.000000  female
176     1st  36.000000    male
107     1st  31.194181  female
475     2nd  34.000000  female
330     2nd  23.000000    male
533     2nd  34.000000    male
...     ...        ...     ...
235     1st  24.000000    male
465     2nd  22.000000  female
210     1st  31.194181    male
579     2nd  40.000000  female
650     3rd  23.000000    male
1031    3rd  31.194181    male
99      1st  24.000000  female
969     3rd  31.194181    male
535     2nd  31.194181    male
403     2nd  31.194181    male
744     3rd  45.000000    male
344     2nd  26.000000    male
84      1st  31.194181    male
528     2nd  20.000000    male
1270    3rd  31.194181    male
662     3rd  40.000000    male
395     2nd  42.000000    male
1196    3rd  31.194181    male
543     2nd  23.000000    male
845     3rd  31.194181    male
813     3rd  25.000000    male
61      1st  31.194181  female
102     1st  23.000000  female
195     1st  28.000000    male
57      1st  27.000000    male
1225    3rd  31.194181    male
658     3rd  31.194181  female
578     2nd  12.000000  female
391     2nd  18.000000    male
1044    3rd  31.194181  female

[984 rows x 3 columns]

In [126]:
# 使用scikit-learn.feature_extraction中的特征转换器

In [127]:
from sklearn.feature_extraction import DictVectorizer

In [128]:
vec = DictVectorizer(sparse=False)

In [129]:
# 转换特征后，我们发现凡是类别型型的特征都单独独成剥离出来，独成一列特征，数值型的则不变

In [130]:
X_train = vec.fit_transform(X_train.to_dict(orient='record'))
print vec.feature_names_

['age', 'pclass=1st', 'pclass=2nd', 'pclass=3rd', 'sex=female', 'sex=male']

In [148]:
# 同样需要对测试数据的特征进行提取
X_test = vec.transform(X_test.to_dict(orient='record'))
# 从sklearn.tree中导入决策树分类器

In [146]:
from sklearn.tree import DecisionTreeClassifier

In [137]:
# 使用默认配置初始化决策树分类器

In [138]:
dtc = DecisionTreeClassifier()

In [139]:
# 使用分割到的训练集进行模型学习

In [140]:
dtc.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [149]:
y_predict = dtc.predict(X_test)

In [150]:
# 从sklearn.metrics导入classification_report

In [151]:
from sklearn.metrics import classification_report

In [153]:
print 'Accracy:',dtc.score(X_test,y_test)

 Accracy: 0.781155015198

In [154]:
print classification_report(y_predict,y_test,target_names=['died','servived'])

             precision    recall  f1-score   support

       died       0.91      0.78      0.84       236
   servived       0.58      0.80      0.67        93

avg / total       0.81      0.78      0.79       329